{% extends "baselayout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <br>
    <h1 class='subtitle'>Reset Your Password</h1>
    <div class="columns">
        <div class="column">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class='field'>
                    {{ form.password.label }}<br>
                    {{ form.password(class='input', type='password', size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class='field'>
                    {{ form.password2.label }}<br>
                    {{ form.password2(class='input', type='password', size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <br>
                {{ form.submit(class='button is-primary') }}
            </form>
        </div>
        <div class="column">

        </div>
    </div>

{% endblock %}
